{% extends "base.html.twig" %}

{% block title %}Confirmer réservation - HouseHotel
{% endblock %}

{% block body %}
	<br>
	<h1 class="text-center">Réserver une chambre</h1>
	<div class="row">
		<div class="col-6 mx-auto">
			{{ form_start(form) }}

			<div class="row">
				<div class="col-6">{{ form_row(form.firstname) }}</div>
				<div class="col-6">{{ form_row(form.lastname) }}</div>
			</div>

			<div class="row">
				<div class="col-6">{{ form_row(form.phone) }}</div>
				<div class="col-6">{{ form_row(form.email) }}</div>

			</div>

			<div class="row">
				<div class="col-5 mx-auto">
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
