<nav class="navbar navbar-expand-lg navbar-dark bg-black align-middle">
	<div class="container-fluid mx-2">
		<a class="navbar-brand" href="{{ path('default_home') }}"><img src="img\logo-househotel.png" height="60px" alt="logo HouseHotel hôtel de luxe 5 étoiles à Paris"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav classynav me-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('default_home') }}">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="{{ path('chambre') }}">Chambres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('show_restaurant') }}">Restaurant</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('show_spa') }}">Spa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('show_avis') }}">Avis</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('show_hotel') }}">L'hôtel</a>
				</li>
				{# <li class="nav-item">
					<a class="nav-link" href="#">Acutalités</a>
				</li> #}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('show_contact') }}">Contact</a>
				</li>
			</ul>

			{% if app.user %}
				<div class="text-nowrap mx-auto">Bonjour
					<b>{{ app.user.firstname | capitalize }}</b>
				</div>
			{% endif %} 

			{% if not app.user %}
				<a class="nav-link text-decoration: none" href="{{ path('register_membre') }}">Inscription</a>

				<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
			{% endif %}

			{% if app.user %}
				<ul class="navbar-nav ms-auto">
					{% if is_granted("ROLE_ADMIN") %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Espace Admin</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{ path('show_membre') }}">Gestion des membres</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{ path('show_chambres') }}">Gestion des chambres</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{ path('show_commande') }}">Gestion des commandes</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{ path('show_slider') }}">Gestion du slider</a>
								</li>
							</ul>
						</li>
					{% endif %}
					
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Espace perso</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-danger" href="{{ path('app_logout') }}" title="Déconnexion"><i class="fa-solid fa-right-from-bracket"></i></a>
						</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
