{% extends "base.html.twig" %}

{% block title %}Gestion des chambres - HouseHotel
{% endblock %}

{% block body %}

	{% if chambre is not defined %}
		<h1 class="text-center my-4">Ajouter une chambre</h1>
	{% else %}
		<h1 class="text-center my-4">Modifier la chambre</h1>
	{% endif %}
    
	<div class="row">
		<div class="col-8 mx-auto">
			{{ form_start(form) }}

                <div class="row">
                    <div class="col-6">{{ form_row(form.title) }}</div>
                    <div class="col-6">{{ form_row(form.descriptionShort) }}</div>
                </div>

                {{ form_row(form.descriptionLong) }}

                {{ form_row(form.priceDay) }}

                {{ form_row(form.photo) }}

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
