{% extends 'base.html.twig' %}

{% block title %}Voir les Chambres - HouseHotel
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-10 mx-auto my-3">
			{% include "include/_flashes.html.twig" %}
		</div>
	</div>
<p>Les 39 chambres de l’hôtel Touraine se déploient sur les 7 étages de la maison. Toutes différentes mais d’inspiration identique, elles ont en héritage le charme de cette maison parisienne historique.

Sur rue ou sur cour, elles sont paisibles et douillettes, avec du parquet et du carrelage soigné dans les salles de bain. Certaines ont des poutres apparentes. Quelques unes communiquent entre elles pour se transformer en « suite familiale » ou « suite entre amis ». Avec les chambres Cosy Single, Double, Twin, ou la Grande chambre, l’hôtel offre plus de 5 catégories différentes.</p>
	<div class="row">
		<div class="col-6 mx-auto mb-4">
			<div class="card">
				<div class="card-header">
					<h1 class="text-center card-title mb-5">{{ chambre.title }}</h1>
					<h4 class="text-center text-secondary mb-3">{{ chambre.descriptionShort }}</h4>
				</div>
				<img src="{{ asset('uploads/' ~ chambre.photo) }}" width="600px" height="400px" class="img-custom" alt="{{ chambre.title }}">
				<div class="card-body">
					<p class="card-text my-4 col-8 mx-auto">{{ chambre.descriptionLong | raw }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
